body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.controls button {
  font-size: 2rem;
  margin: 10px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.controls button:hover {
  color: #1db954;
}

.song-info h2 {
  margin-bottom: 5px;
}
